{% extends "layout/base.html.twig" %}

{% block content %}

<div class="container">
<h3>Hej {{ user.name }}!</h3>

<p>
  {{ commonData.manifestHeader|nl2br}}
</p>
<hr>

<span id="test" style="white-space: nowrap;visibility:hidden;position:absolute;top:0"></span>
<script>
function resizeInput(element){
  const testElem=document.getElementById('test');
  const minText='x';
  testElem.innerText=minText.repeat(element.getAttribute('data-autolen'));
  const minLen=testElem.offsetWidth;

  testElem.innerText=element.value;
  element.style.width=(20+Math.max(testElem.offsetWidth, minLen)) +'px';
  testElem.innerText=''
}
</script>

<form>

<p>
{% for chunk in user.manifestChunks %}
{% if chunk.type == 'text' %}
{{chunk.text}}
{% else %}
  <input data-autolen="{{ min(25, max(5,chunk.size))}}" onchange="resizeInput(this)" onkeyup="resizeInput(this)" style="border:none;border-bottom:dotted">
<sup>[{{chunk.id}}]</sup>
{% endif %}
{% endfor %}
</p>

<p>
  {{ commonData.manifestFooter|nl2br}}
</p>

<label for="Foto" class="form-label">Foto zagadki</label>
<div id="Foto" class="d-flex flex-wrap" style="margin: auto">
  {% for manifestImage in user.images %}
  {% if manifestImage.src|default(false) %}
  <div class="card m-2 p-2 bg-light" style="width:220px;">
    <img class="rounded mb-2" style="width: 200px; margin: auto" src="{{ url_for('users.image',{'id':user.id,'imageId':manifestImage.id})|escape('html_attr') }}">
    <sup>[{{manifestImage.id}}]</sup>
    <textarea name="image_{{ user.id ~ '_' ~ manifestImage.id }}_solution" class="form-control" placeholder="Rozwiązanie"></textarea>
  </div> 
  {% endif %}
  {% endfor %}
</div>
</div>

</form>

</div>



<script>
  for(const element of document.getElementsByTagName('input')){
    if(element.getAttribute('data-autolen')){
      resizeInput(element);
    }
  }
</script>

{% endblock %}