{% extends "layout/base.html.twig" %}

{% block content %}

<div class="container">
<h3>Hej {{ user.name }}!</h3>

<p>
  {{ commonData.manifestHeader|nl2br}}
</p>
<hr>

<form>

<p>
{% for chunk in user.manifestChunks %}
{% if chunk.type == 'text' %}
{{chunk.text}}
{% else %}
<input type="text" name="solution_{{user.id ~ '_' ~ chunk.id}}" style="width:{{chunk.size}}rem; border:none;border-bottom:dotted">
<sup>[{{chunk.id}}]</sup>
{% endif %}
{% endfor %}
</p>

<p>
  {{ commonData.manifestFooter|nl2br}}
</p>

<label for="Foto" class="form-label">Foto zagadki</label>
<div id="Foto" class="d-flex flex-wrap" style="margin: auto">
  {% for manifestImage in user.images %}
  {% if manifestImage.src %}
  <div class="card m-2 p-2 bg-light" style="width:220px;">
    <img class="rounded mb-2" style="width: 200px; margin: auto" src="{{ url_for('users.image',{'id':user.id,'imageId':manifestImage.id})|escape('html_attr') }}">
    <sup>[{{manifestImage.id}}]</sup>
    <textarea name="image_{{ user.id ~ '_' ~ manifestImage.id }}_solution" class="form-control" placeholder="Rozwiązanie"></textarea>
  </div> 
  {% endif %}
  {% endfor %}
</div>
</div>

</form>

</div>
{% endblock %}