{% extends "layout/base.html.twig" %}
{% block top %}{% endblock %}
{% block footer %}{% endblock %}
{% block content %}

{% if 'text' in print|default(['text','foto']) %}
<div class="pageContainer">
  <h3>Hej {{ user.name }}!</h3>
  {% if user.section %}<p>Etap: {{ user.section }}</p>{% endif %} 
  <p class="mb-3 pb-3">
    <img style="width: 3cm; height: 3cm;float:inline-end;border:0.05cm solid black" src="{{ qrCode|escape('html_attr') }}">

    {{ commonData.manifestHeader|nl2br}}
    <p>Opiekun trasy: {{ user.author }}</p>
  </p>

  <hr>

  <p>
    {% for chunk in user.manifestChunks %}
    {% if chunk.type == 'text' %}
    {{chunk.text|nl2br}}
    {% else %}
      {% if commonData.wrapDots|default(true) %}
        <span class="text-end" style="border:none;border-bottom:2px dotted black;color:white;white-space: pre-wrap;">{% for i in range(0,min(100,max(3,chunk.size))) %}o {% endfor %}<sup style="color:black" >[{{chunk.id}}]</sup></span>
      {% else %}  
        <span class="text-end" style="border:none;border-bottom:2px dotted;display:inline-block;width:{{ 4 + min(40,max(5,0.8 * chunk.size))}}rem"><sup>[{{chunk.id}}]</sup></span>
      {% endif %}
    {% endif %}
    {% endfor %}
  </p>

  <p>
    {{ commonData.manifestFooter|nl2br}}
  </p>
</div>
{% endif %}

{% if 'foto' in print|default(['text','foto']) %}
<div class="pageContainer">
    <div class="d-flex flex-wrap justify-content-center" >
    {% for manifestImage in user.images %}
    {% if manifestImage.src|default(false) %}
    <div class="m-1 p-1 px-4" style="break-inside: avoid; border:1px solid #ccc">
      <img class="rounded" style="width:6.5cm;"
      src="{{ url_for('users.image',{'id':user.id,'imageId':manifestImage.id})|escape('html_attr') }}">
      
      <div style="clear:both;border-bottom:2px dotted">&nbsp;</div>
      <div style="clear:both;border-bottom:2px dotted" class="text-end"><sup>[{{manifestImage.id}}]</sup></div>
         
      </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}


{% endblock %}

{% block head %}
{{ parent() }}

<script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script>
<style>
@page {
  size: A4;
  margin: 15mm;
}


@page {
  @bottom-center {
    color:#888;
    content: "{{ user.name }} - strona " counter(page);
  }
}

.pageContainer {
    break-before: page;
}
:root{
  --bs-body-line-height:1.8;
}
</style>
{% endblock %}